name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest-cov

      - name: Create Dummy Data for Training
        run: |
          mkdir -p data/raw
          echo "TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult" > data/raw/data.csv
          # Generate 6 different customers so K-Means (n_clusters=3) works
          echo "T1,B1,Acc_1,S1,C1,UGX,256,P1,Pr1,airtime,Ch1,1000,1000,2018-11-15T02:18:49Z,2,0" >> data/raw/data.csv
          echo "T2,B2,Acc_2,S2,C2,UGX,256,P1,Pr1,airtime,Ch1,2000,2000,2018-11-15T02:20:49Z,2,0" >> data/raw/data.csv
          echo "T3,B3,Acc_3,S3,C3,UGX,256,P1,Pr1,airtime,Ch1,5000,5000,2018-11-15T02:25:49Z,2,1" >> data/raw/data.csv
          echo "T4,B4,Acc_4,S4,C4,UGX,256,P1,Pr1,airtime,Ch1,100,100,2018-11-15T02:26:49Z,2,0" >> data/raw/data.csv
          echo "T5,B5,Acc_5,S5,C5,UGX,256,P1,Pr1,airtime,Ch1,10000,10000,2018-11-15T02:27:49Z,2,1" >> data/raw/data.csv
          echo "T6,B6,Acc_6,S6,C6,UGX,256,P1,Pr1,airtime,Ch1,500,500,2018-11-15T02:28:49Z,2,0" >> data/raw/data.csv
      
      - name: Pre-Train and Register Champion
        env:
          MLFLOW_TRACKING_URI: sqlite:///mlflow.db
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          # Run training to generate the DB
          python src/train.py
          
          # Manually tag it as 'champion' so the API finds it
          python -c "
          import mlflow
          from mlflow import MlflowClient
          client = MlflowClient(tracking_uri='sqlite:///mlflow.db')
          latest_version = client.get_latest_versions('Bati_Bank_Credit_Model')[0].version
          client.set_registered_model_alias('Bati_Bank_Credit_Model', 'champion', latest_version)
          "

      - name: Run Pipeline Tests
        env:
          MLFLOW_TRACKING_URI: sqlite:///mlflow.db
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          pytest tests/pipeline_test.py